@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
    height: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #918686;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #858383;
    border-radius: 2px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8f8b8b;
}